body { background-color: #f3f4f6; }
.menu-slide { transition: transform 0.3s ease-in-out; }

.route-containers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.route-box {
  flex: 1 1 300px;
  background: #f8f8f8;
  border-radius: 8px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 8px;
}
